{% extends 'base.html' %}

{% block title %}Extend Booking{% endblock %}

{% block content %}
<div class="container">
    <h2>Extend Booking for {{ booking.room.hotel.name }}</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Extend Booking</button>
    </form>
    
    <p class="mt-3">
        <a href="{% url 'hotel:user_dashboard' %}">Return to Dashboard</a>
    </p>
</div>
{% endblock %}
